[flake8]
exclude = .git,.tox,__pycache__,.eggs,build
max-line-length = 100
ignore =
    # E265 block comment should start with '# '
    E265,
    # E266 too many leading '#' for block comment
    E266,
    # E402 module level import not at top of file
    E402,
    # E722 do not use bare except
    E722,
doctests = true
