recursive-include demos *.py *.yaml *.html *.css *.js *.xml *.sql README
include tornado/epoll.c
include tornado/ca-certificates.crt
include tornado/test/README
include tornado/test/test.crt
include tornado/test/test.key
include tornado/test/csv_translations/fr_FR.csv
include tornado/test/gettext_translations/fr_FR/LC_MESSAGES/tornado_test.mo
include tornado/test/gettext_translations/fr_FR/LC_MESSAGES/tornado_test.po
include tornado/test/static/robots.txt
include tornado/test/templates/utf8.html
include runtests.sh
global-exclude _auto2to3*