<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ handler.settings["blog_title"] }}</title>
    <link rel="stylesheet" href="/static/blog.css" type="text/css">
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ handler.settings["blog_title"] }}">
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="float:right">
          {% if not current_user %}
            {% raw _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": escape(users.create_login_url(request.uri))} %}
          {% else %}
            {% if current_user.administrator %}
              <a href="/compose">{{ _("New post") }}</a> -
            {% end %}
            <a href="{{ users.create_logout_url(request.uri) }}">{{ _("Sign out") }}</a>
          {% end %}
        </div>
        <h1><a href="/">{{ handler.settings["blog_title"] }}</a></h1>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
