Source: tornado
Maintainer: Facebook <python-tornado@googlegroups.com>
Section: python
Priority: optional
Build-Depends:
  debhelper (>= 9),
  python3-dev,
  dh-python,
  python3-setuptools,
  python3-pycurl,
Standards-Version: 3.9.5
X-Python3-Version: >= 3.4

Package: python3-tornado
Architecture: all
Depends:
  python3,
Description: Tornado for Python 3
