# Frozen pip requirements for tools used in the development of tornado

# Tornado's required dependencies
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14

# Tornado's optional dependencies
Twisted==14.0.0
futures==2.1.6
mock==1.0.1
pycares==0.6.1
pycurl==7.19.3.1

# Other useful tools
Sphinx==1.2.2
autopep8==0.9.7
coverage==3.7.1
pep8==1.5.6
pyflakes==0.8.1
tox==1.7.1
virtualenv==1.11.6

# Indirect dependencies
Jinja2==2.7.2
MarkupSafe==0.23
Pygments==1.6
docutils==0.11
py==1.4.20
wsgiref==0.1.2
zope.interface==4.1.1
