# Requirements for tools used in the development of tornado.
#
# This mainly contains tools that should be installed for editor integration.
# Other tools we use are installed only via tox or CI scripts.
#
# This is a manual recreation of the lockfile pattern: maint/requirements.txt
# is the lockfile, and maint/requirements.in is the input file containing only
# direct dependencies.

black
flake8
mypy
tox
