alabaster==0.7.12
attrs==20.2.0
Automat==20.2.0
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
constantly==15.1.0
docutils==0.16
hyperlink==20.0.1
idna==2.10
imagesize==1.2.0
incremental==17.5.0
Jinja2==2.11.2
MarkupSafe==1.1.1
packaging==20.4
Pygments==2.7.2
PyHamcrest==2.0.2
pyparsing==2.4.7
pytz==2020.1
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-asyncio==0.3.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
Twisted==20.3.0
urllib3==1.25.11
zope.interface==5.1.2
